<VirtualHost *:{{ apache.port }}>
  ServerName {{ inventory_hostname }}

  RewriteEngine on

  ## Vhost docroot
  DocumentRoot "{{ apache.host_path }}/{{ inventory_hostname }}/web"

  ## Directories
  <Directory "{{ apache.host_path }}/{{ inventory_hostname }}/web">
    Options Indexes FollowSymlinks MultiViews
    AllowOverride All
    Require all granted
  </Directory>

  <Directory /usr/lib/cgi-bin>
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/apache2/{{ inventory_hostname }}_{{ apache.port }}_error.log"
  ServerSignature Off
  CustomLog "/var/log/apache2/{{ inventory_hostname }}_{{ apache.port }}_access.log" combined

  ## SetEnv/SetEnvIf for environment variables
  SetEnv APP_ENV {{ apache.environment }}
  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

  ## Custom fragment
  ##
</VirtualHost>
